{% assign avg_rating = block.settings.product.metafields.review.avg_rating.value | replace: ',', '' | times: 1 | round %}

<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
({{block.settings.product.metafields.review.count}})
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %}

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

